body {
	padding: 0;
	margin: 0;
	height: 2000px;
	width: 2000px;
	cursor: crosshair;
	background-color: black;
	overflow: hidden;
	font-family: Arial;
}
#instructions {
	position: fixed;
	z-index: 100;
	top: 40%;
	left: 25%;
	height: 10%;
	width: 50%;
}
#mapa {
	position: fixed;
	margin-top: -1500px;
	margin-left: -1500px;
	height: 3000px;
	width: 3000px;
	background-image: url("../img/space.png");
}
.comun {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#nave {
	position: fixed;
	top: 50%;
	left: 50%;
	height: 60px;
	width: 60px;
	margin-top: -25px;
	margin-left: -25px;
	background-image: url("../img/naveNoMov.png");
	z-index: 50;
}
#vidas {
	display: flex;
	position: fixed;
	top: 10px;
	left: 10px;
	height: 100px;
	width: 200px;
	opacity: 0.8;
}
.vida {
	height: 60%;
	width: 30%;
	margin: auto, 0;
	background-image: url("../img/life.png");
}
#cristales {
	position: fixed;
	text-align: center;
	height: 80px;
	width: 200px;
	right: 10px;
	color: white;
	line-height: 80px;
	font-size: 30px;
}
.mensaje {
	position: fixed;
	text-align: center;
	height: 80px;
	width: 50%;
	top: 10%;
	left: 25%;
	color: white;
	line-height: 80px;
	font-size: 20px;
}
.final {
	top: 20%;
	font-size: 40px;
}
.contador {
	font-size: 50px;
}
.moviendo {
	background-image: url("../img/naveMov.png") !important;
}
.cristal {
	position: absolute;
	height: 60px;
	width: 60px;
	background-image: url("../img/cristal.png");
}
.enemigo {
	position: absolute;
	height: 80px;
	width: 80px;
	background-image: url("../img/enemigo.png");
}
#portal {
	position: absolute;
	height: 150px;
	width: 150px;
	background-image: url("../img/portal.png");
}
.fuera, .inmune {
	filter: contrast(50%);
}
.laser {
	position: absolute;
	height: 10px;
	width: 30px;
	background-color: purple;
	transition: top 80s ease-in, left 80s ease-in;
	z-index: -1;
}
.amigo {
	transition: top 1.5s ease-in, left 1.5s ease-in;
	background-color: red;
}
.ui-button {
	position: fixed !important;
	top: 35% !important;
	left: 50% !important;
	margin-top: -25px;
	margin-left: -30px;
}