@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.parpadea {

    font-size: 3em;
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

menuPrincipal {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

menuPrincipal:first-of-type {

    animation: showup 7s infinite;
}

menuPrincipal:last-of-type {
    width: 0px;
    animation: reveal 7s infinite;
}

menuPrincipal div:last-of-type span {
    margin-left: -355px;
    animation: slidein 7s infinite;
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }
    20% {
        margin-left: -800px;
    }
    35% {
        margin-left: 0px;
    }
    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }
    20% {
        opacity: 1;
        width: 0px;
    }
    30% {
        width: 355px;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 355px;
    }
}

.btn-help {
    background: #3d87aa;
    border-bottom: 6px inset rgba(0, 0, 0, 0.5);
    border-left: 6px inset rgba(0, 0, 0, 0.5);
    border-right: 6px inset rgba(255, 255, 255, 0.5);
    border-top: 6px inset rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 2.2rem;
    margin: 1rem;
    min-width: 3em;
    padding: 0.5rem;
    text-transform: uppercase;
    width: auto;
    border-radius: 1em;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.btn-history {

    background: #3d87aa;
    border-bottom: 6px inset rgba(0, 0, 0, 0.5);
    border-left: 6px inset rgba(0, 0, 0, 0.5);
    border-right: 6px inset rgba(255, 255, 255, 0.5);
    border-top: 6px inset rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 2.2rem;
    margin: 1rem;
    min-width: 3em;
    padding: 0.5rem;
    text-transform: uppercase;
    width: auto;
    border-radius: 1em;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

btn:focus, .btn:hover {
    background: #2992b8;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid white;
    border-radius: 2em;
    z-index: 10;
    width: 700px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid white;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
}

.modal-body {
    padding: 1.5em 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {

    opacity: 1;
    pointer-events: all;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}