html
{
    background: rgb(100,181,246);
background: radial-gradient(circle, rgba(100,181,246,1) 0%, rgba(200,231,255,1) 0%, rgba(100,181,246,1) 100%);
}

.linea
{
    width: 100%;
    height: 33.3%;
    z-index: 0;
    
}
.principal
{
    position: absolute;
    width: 99%;
    height: 40%;
    background-image: url('Camino.png');
}
.muneco
{
    height: 33.3%;
    width: 100px;
    z-index: 1;
    background-image: url('Muneco.png');
    background-repeat: no-repeat;
    background-size: 100px;
    transition: all 0.5s;
    position: absolute;
   
}
.monstruo
{
   
    transition-timing-function: linear;
    height: 100%;
    width: 100px;
    z-index: 2;
    background-image: url('Monstruo.png');
    background-repeat: no-repeat;
    background-size: 80px;
    position:absolute;
    right: 0;
    
}
.timer
{
    height: 60px;
    width: 150px;
    border: 1px solid black;
    border-radius: 5%;
    font-size: 2em;
    text-align: center;
    color: red;
}
.canon
{
    
    height: 100%;
    width: 100px;
    z-index: 3;
    background-image: url('canon.png');
    background-repeat: no-repeat;
    background-size: 80px;
    float: right;
}

#juego
{
    visibility: hidden;
    width: 99%;
    height: 98%;
    background-color: #64B5F6;
    position: absolute;
    text-align: center;
    font-weight: 900;
    font-size: 2em;
    color: #735722;
}
.pantalla
{
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15%;
}

#fondo
{
    height:20%;
    width: 100%;
    background-image: url('cesped.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 0;
}

